// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'styles';


html {
    font-size: 14px;
}

body {

    background: linear-gradient(130deg, rgba(17,17,17,1) 0%, rgba(0,50,98,1) 21%, rgba(0,81,143,1) 49%, rgba(0,50,98,1) 75%, rgba(17,17,17,1) 100%) !important;
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}


p {
    line-height: 1.75;
}
ol{
    margin: 0px;
    padding-left: 0rem;
}

