// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'styles';


html {
    font-size: 14px;
}

body {
    height: 100vh !important;
    margin: 0 !important;
    background: rgb(76,201,240) !important;
    background: linear-gradient(30deg, rgba(76,201,240,0) 0%, rgba(67,97,238,1) 100%) !important;
    background-repeat: no-repeat !important;
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}


p {
    line-height: 1.75;
}

ol {
    margin: 0px;
    padding-left: 0rem;
}