// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'styles';


html {
    font-size: 14px;
}

body {
    //background-image: linear-gradient(323deg, #275F7D 0%, #0C121F 96%);
    /* background-image: radial-gradient(circle at 8% 59%, #275F7D 14%, #1884B3 100%); */
    background-color: #275F7D; 
    /* background: #003B5C; */
    background-size: 100% 100%; /* Ajusta el tamaño del degradado para cubrir todo el fondo */
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    text-decoration: none !important;
}


p {
    line-height: 1.75;
}

ol {
    margin: 0px;
    padding-left: 0rem;
}