body {
    background-color: #f4f7f6;
    margin-top: 20px;
  }
  
  .EventsButton {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  
  .list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    margin: 10px;
    border: none;
  }
  
  .EventsButton:hover {
    background-color: #f0f0f0;
    /* Cambia el color de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Añade una sombra suave */
  }
  
  .card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  }
  
  .chat-container {
    display: flex;
    flex-direction: row;
    height: 500px;
  }
  
  .chat-header{
      background-color: rgb(255, 255, 255);
      margin-top: 90px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row-reverse;
      align-content: center;
      justify-content: space-between;
  }
  
  .chat-text {
    font-family: Gotham;
    font-size: 22px;
    font-weight: bold;
  }
  
  .chat-footer {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #000000;
  }
  
  .chat-footer input {
    flex: 1;
    margin-right: 10px;
    width: 1000px;
  }
  
  
  
  .chat-text {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-family: Gotham;
    font-size: 22px;
    color: #01afee;
    text-decoration: dashed;
  }
  
  .user-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
  }
  
  .profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .user-nickname {
    font-family: Gotham;
    font-size: 18px;
    margin: 10px;
  }
  
  .message {
    color: #000000;
    max-width: 50%;
    border-radius: 30px;
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #dadada;
  }
  
  .message-user {
    margin-left: 95%;
    max-width: 50%;
    width: auto;
    color: #444;
    border-radius: 7px;
    position: relative;
    border: 1px solid #000;
    padding: 10px;
    background-color: #c1f6ff;
    text-align: right;
  }
  
  .profile-pic-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  
  }
  
  .text-right {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    width: auto;
    max-width: fit-content;
    background-color: #6cb4ee;
    font-family: Gotham;
    font-size: 14px;
  }
  
  .date {
    margin-bottom: 10px;
    margin-top: 2px;
    margin-right: 3px;
    margin-left: 10px;
  }
  
  .date-right {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-bottom: -5px;
    margin-right: 5px;
  }
  
  .chat-body {
    height: 650px;
    overflow-y: auto;
    overscroll-behavior: contain;
    border: 1px solid #000;
    scroll-behavior: smooth;
    scroll-padding-bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    margin: auto;
    align-items: end;
  }
  
  .message-input {
    width: 970px;
  }
  
  .chat-name {
    height: 60px;
    margin-bottom: 10px;
  }
  
  .username-header {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .Title {
    font-family: Gotham;
    font-size: 26px;
    color: #0070bb;
    text-align: center;
  }
  
  .form-control {
    border-radius: 20px;
    width: 100%;
    border: 1px solid #000;
    height: 35px;
    font-family: Gotham;
  }
  
  
  .events-list {
    height: 685px;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
  
  hr {
    margin: none;
    height: 2px;
    border: none;
    background-color: #000;
  }
  
  .hr-events {
    height: 1px;
    border: none;
    background-color: #000;
  }
  
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
    padding-left: revert-layer;
  }
  
  .chat-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px
  }
  
  .event-name {
    font-family: Gotham;
    font-size: 18px;
    font-weight: bold;
    color: #0070bb;
  }
  
  .no-event-img {
    width: 400px;
    height: 400px;
    margin-left: 275px;
    margin-bottom: 50px;
  }
  
  p.no-event-text {
    font-family: Gotham;
    font-size: 33px;
    color: #0070bb;
    font-weight: bolder;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .events {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }
  
  a {
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    color: #01afee;
  }
  
  a:hover {
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    color: #0070bb;
    text-decoration: dashed;
  }
  
  h2.buscarEvento {
      font-family: Gotham;
      font-size: 22px;
      color: #0070bb;
  }
  .toggle-button{
      display: none;
    }
  @media (max-width: 500px) {
    .toggle-button{
      display: block;
      background-color: #0070BB;
      border-color: #0070BB;
      color: #fff;
      width: 100%;
    }
  
    .toggle-button:hover{
      background-color: #fff;
      border-color: #0070BB;
      color: #0070BB;
    }
    .chat-container {
      width: 450px;
    }
    .chat-body{
      width: 100%;
    }
    .no-event-img{
      margin: 0;
      width: 100%;
    }
    .chat-footer input {
      flex: 1;
      margin-right: 10px;
      width: 200px;
    }
  
    .chat-header{
      width: 95%;
      display: flex;
      flex-direction: column;
    }
    
    .chat-text a{
      width: 100%;
      text-align: center;
    }
  
    .hide-event-list {
      display: none;
    }
  
    .hide-chat {
      display: none;
    }
  }
  .profile-pic-small img {
    width: 30px;
    height: 30px;
  }
  
  .inputSearch {
      width: 100%;
      border-radius: 30px;
      border: 1px solid black;
      height: 30px;
      padding: 10px;
      font-family: Gotham;
  }