.absolut {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.loading {
    margin-top: 150px;
    height: 500px;
    width: 100%;
}

.event-loading {
    height: 500px;
    width: 500px;
}

.loading .card {
    height: 500px;
    width: 500px;
}


.event {
    margin-top: 80px;
    padding: 0;
    border-radius: 20px;
    width: 95%;
}

.event-header {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    width: 100%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 6px solid #0094FF;
}

.event-header::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, #303030 0%, rgba(48, 48, 48, 0.735) 42.5%, rgba(48, 48, 48, 0.325957) 80.5%, rgba(48, 48, 48, 0) 100%);
    border-radius: 20px 20px 0px 0px;
}

.event-header h1 {
    color: white;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.name-container {
    margin-top: 50px;
}

.name-event {
    margin-left: 7rem;
    text-align: left;
}

.by-text {
    color: white;
    position: relative;
    z-index: 1;
    margin-left: 350px;
    font-size: 20px;
}

.add-event {
    z-index: 1;
    align-self: flex-end;
    justify-self: flex-start;
    color: white;
    background-color: #6CB4EE;
    margin: 40px;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 20px;
    padding-left: 12px;
}

.add-event-button {
    z-index: 1;
    background-color: #002C6F;
    border-radius: 20px;
    padding: 7px 15px;
    color: white;
    border: 2px solid white;
    margin: 0;
}

.add-event-button:hover {
    background-color: white;
    color: #002C6F;
    border: 2px solid #002C6F;

}

.absolut {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.loading {
    margin-top: 240px;
}



.event {
    margin-top: 80px;
    padding: 0;
    border-radius: 20px;
    width: 95%;
}

.event-header {
    background-image: url('/images/default-background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    width: 100%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 6px solid #0094FF;
}

.event-header::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, #303030 0%, rgba(48, 48, 48, 0.735) 42.5%, rgba(48, 48, 48, 0.325957) 80.5%, rgba(48, 48, 48, 0) 100%);
    border-radius: 20px 20px 0px 0px;
}

.event-header h1 {
    color: white;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.name-container {
    margin-top: 50px;
}

.by-text {
    color: white;
    position: relative;
    z-index: 1;
    margin-left: 350px;
    font-size: 20px;
}

.add-event {
    z-index: 1;
    align-self: flex-end;
    justify-self: flex-start;
    color: white;
    background-color: #6CB4EE;
    margin: 40px;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 20px;
    padding-left: 12px;
}

.add-event-button {
    z-index: 1;
    background-color: #002C6F;
    border-radius: 20px;
    padding: 7px 15px;
    color: white;
    border: 2px solid white;
    margin: 0;
}

.add-event-button:hover {
    background-color: white;
    color: #002C6F;
    border: 2px solid #002C6F;

}


.content-event {
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-event p {
    font-size: 17px;
    color: #3B3B3B;
    font-family: 'Modern Sans';
}

.content-event img {
    max-width: 70%;
    max-height: 400px;
    margin: 30px 0;
}

.button-slader:hover {
    border-color: #0070BB;
    color: white;
    background-color: #0070BB;
}

.content-promoter {
    padding: 0px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-promoter .promoter-icon {
    width: 120px;
}

.container-name-promoter {
    margin: 25px 0;
    height: 30px;
}

.name-promoter {
    margin: 0;
    background-color: #0070BB;
    color: white;
    width: 70%;
    height: 100%;
}

.gradient-blue {
    background: linear-gradient(to bottom left, transparent 49.5%, #0070BB 49.5%, #0070BB 30%);
}

.gradient-blue.gradient-promoter-right {
    width: 20px;
    height: 100%;
    background: linear-gradient(to bottom right, transparent 49.5%, #0070BB 49.5%, #0070BB 30%);
}

.gradient-blue.gradient-promoter-left {
    width: 20px;
    height: 100%;
}

.description-promoter,
.name-promoter {
    max-width: 500px;
    text-align: center;
}


.other-events {
    padding: 0;
}

.title-other {
    background-color: #0070BB;
    padding: 10px 0;
    padding-left: 100px;
    color: #fff;
    width: 400px;
    height: 45px;
}

.gradient-blue.gradient-slader {
    width: 90px;
    height: 45px;
}

.title-other-event {
    text-align: center;
    height: 50px;
}

.event-slader .card {
    border: 0;
}

.button-slader {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #0070BB;
    color: #0070BB;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-slader:hover {
    border-color: #0070BB;
    color: white;
    background-color: #0070BB;
}

@media (max-width: 768px) {
    .event-header {
        min-height: 300px;
        flex-direction: column-reverse;
    }

    .event-header::after {
        max-height: 300px;
        flex-direction: column-reverse;
    }

    .by-text {
        display: none;
    }

    .add-event {
        align-self: center;
    }

    .name-promoter {
        width: auto;
        padding: 2px 15px
    }

    .name-event {
        margin: 0;
        text-align: center;
    }

    .title-other {
        margin-top: 40px;
        padding-left: 20px;
        text-align: left;
    }

    .gradient-blue {
        display: none;
    }
}