html{
    background-color: #ffffff !important;
}

body{
    background-color: #ffffff !important;
}

h2 {
    font-family: Gotham;
    font-size: 16px;
}

.btn.btn-link.btn-sm.float-end {
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    color: #01afee;
}

.btn.btn-link.btn-sm.float-end:hover {
    font-family: Gotham;
    font-size: 20px;
    color: #0070bb;
    font-weight: bold;


}

p {
    font-family: Gotham;

}

body {
    background-color: #ffffff !important;
    background-repeat: no-repeat !important;
    font-family: var(--font-family);
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Text Align */
.text-c {
    text-align: center;
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right
}

.text-j {
    text-align: justify;
}

/* Text Color */
.text-whitesmoke {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.text-darkyellow {
    color: rgba(0, 0, 0, 0.432)
}

/* Buttons */
.button {
    border-radius: 3px;
}

.form-control,
.border-line {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000000;
    border-radius: 30px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    margin-top: 10px;
    font-family: Gotham;
    font-size: 12px;

}

.form-control,
.form-control:focus {
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    color: #BDBDBD;
}

/* Container */

.container-content {
    background-color: #ffffffa2;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #000000;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.login-container {
    max-width: 500px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 150px;
}

@media (max-width: 768px) {
    .login-container {
    max-width: 500px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 30px;
}
}
.login.login-container {
    width: 300px;
}

.wrapper.login-container {
    margin-top: 140px;
}

.logo-badge {
    color: #000000;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}

.form-check-label {
    float: left;
    font-family: Gotham;
    font-size: 14px;
}

.logo {
    margin: 0 10px 20px 10px;
}

.logo-central {
    margin-top: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .logo-central {
        display: none;
    }
}

.btn.btn-primary.Login {
    font-family: Gotham;
    width: 100%;
    border-color: #01afee;
    justify-content: center;
    background-color: #ffffff;
    color: #01afee;
}

.btn.btn-primary.Login:hover {
    font-family: Gotham;
    width: 100%;
    justify-content: center;
    color: #ffffff;
    background-color: #01afee;
}

.card {
    border: 1.5px solid #777777;
}

.forgot {
    margin-top: 20px;
    font-family: Gotham;
    color: #01afee;
}

.forgot:hover {
    margin-top: 20px;
    font-family: Gotham;
    color: #0070bb;
}

.card.Register {
    margin-bottom: 20px;
    margin-top: -20px;
    color: #01afee;
}

.form-check-input:checked {
    background-color: #01afee;
    border-color: #000000;
}

a {
    text-decoration: none !important;
    color: #01afee;
}

a:hover {
    text-decoration: none !important;
    color: #0070bb;
}

.login-container {
    max-width: 500px;
    z-index: 100;
    margin: 0 auto;
    position: relative;
}

.card.Register {
    margin-bottom: 20px;
    margin-top: -20px;
    color: #01afee;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.RegisterText {
    margin: 0;
    font-size: large;
    font-family: Gotham;
}

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    transition: margin-left 0.2s;
    margin: 0;
    background: white;
}